li.active
{
	background-color: #fe821d !important;
	color: #ffffff !important;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 15px;
	text-align: center;
}

h4
{
	font-size: 18px;
}

h5
{
	font-size: 14px;
}

.header, .brand
{
	height : 50px;
}

.nav-underline
{
    transition: transform 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    position: absolute;
    width: calc(100% - 30px);
    height: 2px;
    top: 35px;
    left: 15px;
    background-color: #fe821d;
    transform-origin: left top;
}

.logo
{
	line-height: 50px;
}

.sidebar-title
{
	color : white;
	padding-left: 5px;
}

.sidebar-menu
{
	margin-top : 20px !important;
}

.expanded-sidebar
{
	position : fixed;
	left : -240px;
}

.sidebar-open .sidebar-overlay {
    left: 0;
    opacity: 1;
	display: block;
}

.expanded-header
{
	left : 0;
}

.expanded-app
{
	padding-left : 0;
}

.ellipsis
{
	overflow : hidden;
    text-overflow : ellipsis;
}

.alert-warning a
{
	color :#4f5f6f;
}

.alert-warning a:hover
{
	color :#2a3a4a;
}

/***********************************/
/*******	BEGIN NAV BAR	********/
/***********************************/

/*****	BEGIN TOP NAV BAR	********/

.navbar-brand img
{
	height : 100%;
}
			  
.search-form
{
    display : inline-block;
	margin-right : 10px;
	margin-top : 12px;
}

.header-block-nav
{
	padding : 0;
}

.header .header-block-search > form
{
	float : none;
}

.header .header-block-nav ul
{
	margin : auto;
}

.search-field
{
	width : 75%;
	padding-left: 10px;
	height: 30px;
	border-color: #bfcfdf;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}

.search-btn
{
	border : none;
	background : none;
	color : #7e8e9f;
	padding-left: 3px;
}

.search-btn:hover
{
	cursor: pointer;
}

.dropdown-form-account
{
	width : 200px;
	padding : 10px;
}

.dropdown-profile
{
	width : 170px;
}

.nav-profile
{
	margin : 0;
	float : right;
}
  
@media (max-width: 767px)
{
	.dropdown-form-account
	{
		width : 160px;
	}
}

@media (max-width: 350px)
{
	.navbar
	{
		min-height: 90px;
	}
	.navbar-collapse.in
	{
		position: relative;
		top: 40px;
	}
	.search-form 
	{
		right: 70px;
		top: 55px;
		left: 20px;
	}
}

/*****		END TOP NAV BAR		****/

/*****	BEGIN SIDE NAV BAR		****/

.mobile-navbar
{
	font-size: 16px;
	padding-top : 20px;
	padding-bottom : 20px;
	padding-left : 0px;
	list-style : none;
}

.mobile-navbar a:hover, .mobile-navbar a:active
{
	background-color : transparent;
	text-decoration : none;
}

.mobile-navbar-item
{
	color : #FFF;
	padding: 10px;
	padding-left : 20px;
	list-style:none;
}

 .sidebar .sidebar-menu li a
 {
	 color : #FFF;
	 padding-left : 30px;
	 padding-top : 5px;
 }
 
 .mobile-stream-camera
 {
	 position : relative;
	 top : 12px;
	 margin-right : 5px;
 }

.mobile-navbar-item:hover, .mobile-navbar-item:active, .sidebar .sidebar-menu li a:hover, .sidebar .sidebar-menu li a:active
{
	background-color : #111;
}

.mobile-navbar-icon
{
	width : 22px;
	margin-right : 3px;
}

.div-prev-navbar, .div-navbar
{
	display : inline-block;
	padding : 3px;
}

.game-navbar
{
	max-width : 114px;
}

.mobile-navbar, .game-menu-mobile
{
	display : none;
}
@media (max-width: 991.98px)
{
    .mobile-navbar, .game-menu-mobile
	{
		display : block;
	}
	
	.game-navbar, .stream-navbar, .header-block-nav, .expand-button, .reduce-button, .youtube-link
	{
		display : none;
	}
}

@media (max-width: 767.98px)
{
    .header .header-block-search
	{
		padding-left: 20px;
		display: block;
	}
}

.div-navbar
{
	padding-bottom : 30px;
}

.div-navbar .viewers
{
	text-align : right;
}

.div-navbar .overlay
{
	background : rgba(0,0,0,0.7);
	padding : 0px;
}

.nav-link
{
	text-decoration : none;
}

.top-menu
{
	margin : auto;
}

#navbar-social-network
{
	margin-left : 8px;
}

.about-social-network
{
    margin: 5px 5px 5px 0px;
}

.fb-like
{
	width : 124px;
	margin : auto;
}

.gplus-like
{
	display : block;
	width : 60px;
	margin : auto;
	margin-top : 10px;
}

@media (max-width: 767px)
{
	#about-social-network
	{
		display : none;
	}
}

@media (max-width: 350px)
{
	.side-nav
	{
		margin-bottom: 40px;
	}
}

/*******	END SIDE NAV BAR	****/

/***********************************/
/*******	END NAV BAR		********/
/***********************************/


/***********************************/
/****		BEGIN CONTENT		****/
/***********************************/

.container-fluid
{
	min-height : 100vh;
}

.row h3
{
	padding-left : 10px;
}
 
h4
{
	text-align : center;
	color : white;
}

.nav-tabs
{
	margin-bottom : 20px;
}

.center
{
	text-align : center;
	
}

.radio-inline, .checkbox-inline
{
    padding-left : 12px;
}

/*******	BEGIN NEW UPDATE	****/

.update-alert
{
	margin-bottom : 0px;
}

.stop-update
{
	list-style : none;
	position: absolute;
	bottom: 5px;
	right: 20px;
}

.stop-update a
{
	color : #B7D4E2;
}

.stop-update a:hover, .stop-update a:active
{
	color : #6C767B;
}

#close-update
{
	position: relative;
	top: -12px;
	left: 26px;
}

.dont-show-anymore
{
	font-size : 14px;
	position: absolute;
	top: 14px;
	left: -150px;
}

.info-link
{
	color : #00395e;
}

.info-link:hover, .info-link:active
{
	color : #31708f;
}

/*******	END NEW UPDATE		****/

/*****	BEGIN STREAM CONTENT	****/

.source-choice
{
	margin-bottom : 15px;
}
.source-choice label
{
	margin-right : 10px;
}
.source-choice label input
{
	margin-right : 5px;
}

#source-choice-loading
{
	display : inline-block;
	margin-left : 20px;
}

.reload-gif
{
	display : block;
	margin : auto;
	margin-top : 70px;
}

.stream-status
{
	font-size : 14px;
	width : 65%;
	float : left;
	margin : 7px;
}

.stream-infos
{
	font-size : 14px;
	z-index : 10;
	width: 70%;
}

.play-stream
{
	position: absolute;
	top: 50%; 
	left : 50%;
	transform: translateX(-50%) translateY(-50%);
}

iframe#stream, iframe#chat, div#chat
{
	float : left;
	padding-right : 0px;
	padding-left : 0px;
	height : 100%;
}

 iframe#chat, div#chat
 {
	position : relative;
	bottom : 24px; 
 }
 
 @media (max-width: 991.98px)
{
	iframe#chat, div#chat
	 {
		bottom : 0; 
	 }
}
	
 div#chat
 {
	text-align : center;
	padding : 10px;
	padding-top : 30px;
 }

 .youtube-not-found
 {
	max-width: 50%;
	padding-bottom: 20px;
 }

.streamer
{
	padding-left : 10px;
}

.stream-container, .expanded-stream-container, .div-prev
{
	margin-bottom : 20px;
	padding-right : 10px;
	padding-left : 10px;
}

.stream-container, .expanded-stream-container
{
	margin-top : 10px;
	margin-bottom : 30px;
	width: 100%;
	display: inline-block;
	position: relative;
}

.stream-container:after
{
	padding-top: 37.5%;
    display: block;
    content: '';
}

.expanded-stream-container:after
{
	padding-top: 42.19%;
    display: block;
    content: '';
}

@media (max-width: 767px)
{
	.stream-container:after, .expanded-stream-container:after
	{
		padding-top: 56.25%;
		display: block;
		content: '';
	}
	
	.stream-container, .expanded-stream-container
	{
		margin-bottom: 65vh;
	}
	
	.youtube-stream
	{
		margin-bottom: 45vh;
	}
	
	iframe#chat
	{
		height : 60vh;
	}
	div#chat
	{
		height : 40vh;
	}
}

#stream-border
{
	position: absolute;
    top:0;
	left:10px;
	bottom:0;
	right:10px;
}

.expand-button, .reduce-button
{
	position : relative;
	bottom : 12px;
	right : 13px;
	height : 24px;
	padding : 0px;
	margin : 0px;
	z-index : 10;
}

.close-button
{
	float : right;
	position : relative;
	bottom : 12px;
	left : 12px;
	height : 24px;
	padding : 0px;
	margin : 0px;
	z-index : 10;
}

@media all and (orientation:portrait)
{
	iframe#chat, div#chat
	{
		position : initial;
	}
	iframe#chat
	{
		height : 60vh;
	}
	div#chat
	{
		height : 40vh;
	}
}

.stream-ov:hover, .stream-reload:hover, .close-button:hover, .expand-button:hover, .reduce-button:hover
{
  cursor:  pointer;
}

/****	END STREAM CONTENT		****/

/****	BEGIN GAME CONTENT		****/

.row .game-ov
{
	background : linear-gradient(to bottom, rgba(0,0,0,0.8) 13%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 83%, rgba(0,0,0,0.8) 92%);
}

.game-ov
{
	margin : 0px !important;
}


.game-link, .game-link:hover
{
	 text-decoration: none;
}

.game-ov h5
{
	margin-top : 7px;
	margin-left : 7px;
}

/****	END GAME CONTENT		****/

/**	BEGIN GAME & STREAM CONTENT	****/

.overlay
{
	color : white;
    background : linear-gradient(to bottom, rgba(0,0,0,0.8) 15%, rgba(255,255,255,0) 25%);
	display : none;
}

.preview
{
	width : 100%;
	height : 100%;
}

.viewers
{
	text-align : right;
	margin-left : 7px;
	margin-right : 7px;
	font-size : 14px;
}

.viewers img
{
	padding-right : 5px;
}

p.viewers
{
	margin-top : 6px;
}

.viewers img, .game-infos img
{
	height : 10px;
	margin-bottom: 2px;
}

.stream-status, .stream-infos, .viewers
 {
	white-space : nowrap;
}

.stream-infos, .game-infos
{
	width: 90%;
	position : absolute;
	bottom : 0px;
	margin : 7px;
	color : white;
}

#load-more-div
{
	height : 60px;
	margin : auto;
}

#load-more-div img
{
	margin-bottom : 50px;
}

.view-more-btn, .load-more-btn, #load-more-div img
{
	display : block;
	margin : auto;
	position : relative;
	top : 10px;
}

/**	END GAME & STREAM CONTENT	****/

/**	BEGIN USER RELATED CONTENT	****/

.login-form
{
	min-width : 250px;
	max-width : 450px;
	margin : auto;
	padding-right : 30px;
	padding-left : 30px;
	padding-top : 20px;
}

.login-form form
{
	padding-top : 20px;
}

.alert + form
{
	padding-top : 0px;
}

.change-password
{
    font-size: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.form-group
{
	text-align : left;
}

.link-account-form
{
	text-align : center;
}

.link-account-form .form-group
{
	text-align : left;
}

.first-link-done
{
	text-align : center;
	margin-top : 30px;
	margin-bottom : 30px;
}

.first-link-done-form
{
	padding-top : 20px;
}

.linked-profil-pic
{
	width : 150px;
}

.linked-account-icon
{
	width: 20px;
	margin-right: 10px;
}

/**	END USER RELATED CONTENT	****/

/*****	BEGIN OTHER CONTENT		****/

#loading-gif
{
	display: block;
	margin : auto;
}

.reduced-container
{
	width : 80%;
}

@media (max-width: 767px)
{
	.reduced-container
	{
		width : 100%;
	}
}

.reduced-container h3
{
	margin-top : 30px;
}

.about-url-field
{
	margin-left : 5px;
	width : 220px;
}

.about-message-field
{
	max-width : 100%;
}

.btn-form-about
{
	margin-top : 10px;
}

.link-as-btn
{
	color : #ffffff
}

.gif-404
{
	min-width : 350px;
	max-width : 100%;
	margin-top : 20px;
	margin-bottom : 20px;
}

@media (max-width: 767px)
{
	.gif-404
	{
		min-width : unset;
	}
}

/*******	END OTHER CONTENT	****/

/***********************************/
/****		END CONTENT			****/
/***********************************/


#footer
{	
	margin : auto;
	text-align : center;
	border-top : 1px solid #ddd;
	margin-top : 30px;
	padding-top : 15px;
	padding-bottom : 10px;
}
